[Unit]
Description=Manage Data Collection Executable Service
After=network.target

[Service]
WorkingDirectory=<INSTALL_DIR>
ExecStart=<INSTALL_DIR>/datacollector
Restart=no

[Install]
WantedBy=multi-user.target
