[Unit]
Description=Manage Remote Command Manager Executable Service
After=network.target

[Service]
WorkingDirectory=<INSTALL_DIR>
ExecStart=<INSTALL_DIR>/remoteexecutor
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
